[Unit]
Description=Check origin/master for a SUMMING update every thirty minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
RandomizedDelaySec=30
Unit=summing-deploy.service

[Install]
WantedBy=timers.target
