[Unit]
Description=Check origin/master for a SUMMING update every ten minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
RandomizedDelaySec=30
Unit=summing-deploy.service

[Install]
WantedBy=timers.target
